<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha o seu perfil</title>
    <!-- Inclua os links para os arquivos CSS do Bootstrap (substitua pelos seus próprios links) -->
    <link rel="stylesheet" href="/Users/vinicius/naturezaNaMesa/naturezaNaMesa/naturezaApp/templates/naturezaApp/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Escolha o seu perfil</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Sou Consumidor</h3>
                        <p>Se você está em busca de produtos agrícolas, clique no botão abaixo para continuar como consumidor.</p>
                        <a href="{% url 'cadastro' %}" class="btn btn-primary">Continuar como Consumidor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Sou Agricultor</h3>
                        <p>Se você é um agricultor que deseja vender seus produtos, clique no botão abaixo para continuar como agricultor.</p>
                        <a href="{% url 'cadastro' %}" class="btn btn-success">Continuar como Agricultor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclua os scripts JavaScript do Bootstrap (substitua pelos seus próprios links) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>